html {
  background: lemonchiffon;
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

body {
  background: white;
  max-width: 750px;
  margin: 0 auto;
  font-family: Calibri, Arial, sans-serif;
}

#sidebar {
  background: rgba(30, 144, 255, 0.2);
}

#content,
#sidebar,
#footer {
  padding: 1em;
}

#header {
  min-height: 200px;
  background: dodgerblue;
  text-align: center;
}
#header h1 {
  padding-top: 100px;
  color: white;
  margin: 0;
}

#footer {
  background: #002951;
  color: white;
}

h1,
h2 {
  font-family: Montserrat, Arial, sans-serif;
}

a {
  color: darkslateblue;
}

.morecontent span {
  display: none;
}

/* ==form controls */
input, textarea, label{
  display: block;
  width:100%;
  margin:.2em 0;
}


/* feedback */
.error {
  background-color: #ffe9e0;
  border-color: #ffc4ad;
}

label.error {
  padding: .2em .5em;
}

.feedback {
  background: #fcfae6;
  color: #857a11;
  margin: 1em;
  padding: .5em .5em .5em 2em;
  border: solid 1px khaki;
}
.feedback:before {
  content: "";
  font-family: fontawesome;
  color: #e4d232;
  margin-left: -1.5em;
  margin-right: .5em;
}
.feedback li:before {
  border-left-color: #f6f0b9;
}
.feedback.error {
  background: #ffe9e0;
  color: #942a00;
  margin: 1em;
  padding: .5em .5em .5em 2em;
  border: solid 1px lightsalmon;
}
.feedback.error:before {
  content: "";
  font-family: fontawesome;
  color: #ff5714;
  margin-left: -1.5em;
  margin-right: .5em;
}
.feedback.error li:before {
  border-left-color: #ffc4ad;
}
.feedback.success {
  background: #98eee6;
  color: #08322e;
  margin: 1em;
  padding: .5em .5em .5em 2em;
  border: solid 1px turquoise;
}
.feedback.success:before {
  content: "";
  font-family: fontawesome;
  color: #1aa093;
  margin-left: -1.5em;
  margin-right: .5em;
}
.feedback.success li:before {
  border-left-color: #6ce7db;
}




@media screen and (min-width: 550px) {
  #content {
    width: 65%;
    float: right;
  }

  #sidebar {
    width: 35%;
    float: left;
    font-size: .9em;
  }

  #footer {
    clear: both;
  }
}
